h1{
  background-color: darkBlue;
  color: skyblue;
  text-align: center;
}
p{
  background-color: lightGrey;
  padding: 1em;
}
body{
  background-image: url("record.png");
  background-repeat: repeat;
  margin: 0;
}
